/*-------------------------------------------------------------------------Homepage-----------------------------------------------------------*/
/*#region Homepage*/
.homepage-container {
    height: 100vh;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header-section {
    /* background: #fff; */
    display: flex;
    justify-items: center;
    align-items: center;
    height: calc(100% - 100px);
}

.header-section h1 {
    font-size: 3rem !important;
    line-height: 1 !important;
    margin-bottom: 20px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /* font-style: italic; */
    justify-content: center;
}

.header-section p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;

}

.learn-more {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border-radius: 30px;
    /* font-weight: bold; */
    display: flex;
    max-width: 13%;
    left: 46%;
    position: static;
    margin: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-direction: row;
}

header h1 {
    font-size: 2rem !important;
    line-height: 1 !important;
    margin-bottom: 0px;
    margin-left: 20px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    /* color: #fff; */

}

nav ul li a.button {
    padding: 10px 20px;
    border: 1px solid #000;
    /* border: 1px solid #1882a5; */
    border-radius: 30px;
    /* background: #1882a5; */
    background: #000;
    color: #fff;
}

.layer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 1;
    z-index: -1;
}

/*#endregion Homepage*/
@media (max-width: 480px) {

    nav ul li a.button {
        padding: 8px 4px;
    }

    header h1 {
        margin: 0.1rem;
    }

    .homepage-container {
        width: 100vw;
    }
}

@media (max-width: 400px) {

    nav ul li{
        margin: 0px;
    }

    nav ul li a.button {
        padding: 8px 7px;
    }

    header h1 {
        margin: 0.1rem;
    }
}